
*{
			padding:0;
			margin: 0;
}
#upper{
			height: 70px;
			background-color: #0b4c62;
}
#heading{
			height: 50px;
			background-color: lightblue;
			font-size: xx-large;
			font-family: Gabriola;
			padding: 5px 15px; 
}
p{
    font-size:x-large;
	font-family: Gabriola;
}
#link{
    font-size: xx-large;
	margin-left: 20px;
	font-family:Gabriola;
}
	
.first{
			margin: 10px;
	}
#contentOne{
			width: 800px;
			display: inline-block;
	}
.second{
			margin-right: 300px;
	}
.third{
			margin-right: 500px;
			margin-left: 30px;
	}
	
.container{
			height: 450px;
			width: 400px;
			margin: 10px;
			display: inline-block;
	}
.fourth{
			font-size:x-large;
			font-family: Lucida ;
			margin: 5px;
	}
.welcomePage{
			height: 250px;
			width: 600px;
			border:1px white solid;
			display: inline;
			margin: 20px 20px 10px 40px;
		}

#username{
    margin:15px 15px 15px 100px;
    width:250px;
    height:25px;
    
    font-size:x-large;
}

#password{
    margin:15px 15px 15px 5px;
    width:250px;
    height:25px;
    font-size:x-large;
}
#LogIn{
   margin:15px 15px 15px 15px;
    width:250px;
    height:25px;
    font-size:x-large; 
    background-color:black;
    color:white;
}

