
*{
			padding:0;
			margin: 0;
}
#upper{
			height: 70px;
			background-color: #0b4c62;
}
#heading{
			height: 50px;
			background-color: lightblue;
			font-size: xx-large;
			font-family: Gabriola;
			padding: 5px 15px; 
}
p{
    font-size:x-large;
	font-family: Gabriola;
}
#link{
    font-size: xx-large;
	margin-left: 20px;
	font-family:Gabriola;
}
	
.first{
			margin: 10px;
	}
#contentOne{
			width: 800px;
			display: inline-block;
	}
.second{
			margin-right: 300px;
	}
.third{
			margin-right: 500px;
			margin-left: 30px;
	}
	
.container{
			height: 450px;
			width: 400px;
			margin: 10px;
			display: inline-block;
	}
.fourth{
			font-size:x-large;
			font-family: Lucida ;
			margin: 5px;
	}
.main{
		  margin:15px auto;
		  padding: 30px;
		  border: 2px solid white;
		  height: 800px;
		  width: 800px;
		  background-color: white;
		  font-size: x-large;



	}
#frontPage{
		    font-family: cursive;
      		font-weight: bolder;
    		font-size: xx-large;
    		color: grey;
	}
#frontPageBody{
		
		background-color:  #0b4c62;;
	}
input{background-color: rgba(0, 188, 212, 0.25);
	    padding: 5px;
    width: 500px;
    font-size: large;
margin: 10px;
border: lightblue;}
