
*{
			padding:0;
			margin: 0;
}
#upper{
			height: 70px;
			background-color: #0b4c62;
}
#heading{
			height: 50px;
			background-color: lightblue;
			font-size: xx-large;
			font-family: Gabriola;
			padding: 5px 15px; 
}
p{
    font-size:x-large;
	font-family: Gabriola;
}
#link{
    font-size: xx-large;
	margin-left: 20px;
	font-family:Gabriola;
}
	
.first{
			margin: 10px;
	}
#contentOne{
			width: 800px;
			display: inline-block;
	}
.second{
			margin-right: 250px;
	}
.third{
			margin-right: 500px;
			margin-left: 20px;
	}
	
.container{
			height: 450px;
			width: 400px;
			margin: 10px;
			display: inline-block;
	}
.fourth{
			font-size:x-large;
			font-family: Lucida ;
			margin: 5px;
	}